#logo-header{
    width: 132px !important;
}
#header{
    border-bottom: #f3995b 5px solid !important; 
}

.header-item{
    font-weight: 400 !important;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
}

.primary-btn, .header-btn{
	background-color: #f3995b !important;
	background-image: none !important;
}

#weoffer{
	margin-bottom: 125px;
}

.p1-gradient-bg, .primary-btn, .header-btn, .testimonial-area .overlay-bg,  .about-right .overlay-bg {
    background-image: -moz-linear-gradient(0deg, #3a4e48 0%, #f3995b 130%);
    background-image: -webkit-linear-gradient(0deg, #3a4e48 0%, #f3995b 130%);
    background-image: -ms-linear-gradient(0deg, #3a4e48 0%, #f3995b 130%);
}

.single-service:hover{
	background-image: -moz-linear-gradient(0deg, #f3995b 0%, #f3995b 180%);
    background-image: -webkit-linear-gradient(0deg, #f3995b 0%, #f3995b 180%);
    background-image: -ms-linear-gradient(0deg, #f3995b 0%, #f3995b 180%);	
}

.single-fact h1{
    background: -moz-linear-gradient(0deg, #f3995b 0%, #f3995b 100%);
    background: -webkit-linear-gradient(0deg, #f3995b 0%, #f3995b 100%);
    background-clip: border-box;
    background: -ms-linear-gradient(0deg, #f3995b 0%, #f3995b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.single-fact h1 {
    font-weight: 500 !important;
    font-size: 40px !important;
}

.estadisticas-moodle{
    width: 140px !important;
    padding-bottom: 15px !important;
}

.icons-services{
    margin-right: 15px !important;
}

.section-gap {
    padding: 100px 0px !important;
}